#red {
    color: red;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 2px #fff;
}
#white {
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 2px #fff;
}
#yellow {
    color: yellow;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 2px #fff;
}
#pink {
    color: pink;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 2px #fff;
}
#purple {
    color: purple;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 2px #fff;
}
#blue {
    color: blue;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 2px #fff;
}
#black {
    color: black;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 2px #fff;
}
