ul li {
    list-style-type: none;
    margin: 15px;
}
hr {
    margin: 30px 10px;
}
button {
    padding: 15px 30px;
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Noto Serif KR', serif;
    background-color: black;
    color: white;
}
fieldset {
    margin: 15px;
}
